# Porta do site
PORT=3000

# MinIO
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=sua-access-key
MINIO_SECRET_KEY=sua-secret-key
MINIO_BUCKET=wedding
MINIO_PREFIX=uploads

# Limites
MAX_FILE_MB=200
URL_EXPIRY_SECONDS=604800